.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;

  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../assets/banner.png');

  background-size: cover;
  background-position: center;

  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 25px;
  margin: 0 100px;
}

.banner h1 { 
  color: white; font-size: 48px; 
}