.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 223px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  margin: 0 100px;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
}

.banner-home::before {
  background: rgba(0, 0, 0, 0.6);
}

.banner-home {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.banner-about::before {
  background: rgba(0, 0, 0, 0.3);
}

.banner h1 {
  position: relative;
  color: white;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}