.about h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.about p {
    font-size: 18px;
    margin: 0;
}

.about {
  width: 85%;
  margin: auto;
}

.collapse {
  margin: 40px 100px;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 52px;
  align-items: center;
}

.fa-solid {
    font-size: 24px;
}

.collapse-wrapper {
  overflow: hidden;
  transition: height 0.4s ease;
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 15px 25px;
  border-radius: 0 0 5px 5px;
  line-height: 30px;
}

.arrow {
  transition: transform 0.5s;
  cursor: pointer;
}

.arrow.open {
  transform: rotate(-180deg);
}

@media (max-width : 1023px) {
 .collapse-header {
  height: 45px;
 }
  .about h3 {
  font-size: 16px;
}
.fa-solid {
  font-size: 18px;
}
.collapse-content {
  font-size: 15px;
  padding: 10px 25px;
  line-height: 25px;
}
}

@media (max-width : 767px) {
  .collapse-header {
  padding: 0 20px;
  height: 30px;
  border-radius: 5px;
}
.collapse {
  margin: 20px 0px;
}
.about h3 {
  font-size: 13px;
}
.fa-solid {
  font-size: 16px;
}
.collapse-content {
  font-size: 13px;
}
}