.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  font-size: 36px;
  gap: 50px;
}

.number-error {
  font-size: 288px;
  font-weight: 700;
  margin-top: 50px;
}

.error a {
  font-size: 18px;
  color: black;
  margin: 40px 0 110px 0;
}

.error p {
  text-align: center;
}

.error br {
  display: none;
}

@media (max-width: 1023px) {
  .number-error {
    font-size: 144px;
  }
  .error {
    font-size: 27px;
  }
  .error br {
    display: block;
  }
  .error a {
    font-size: 16px;
  }
  .error p {
    line-height: 1.4;
}
}

@media (max-width: 767px) {
  .number-error {
    font-size: 96px;
  }
  .error {
    font-size: 18px;
  }
  .error a {
    font-size: 14px;
  }
}