.tags {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 27px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  align-content: center;
}

@media (max-width : 1023px) {
  .tags {
    flex-flow: wrap;
  }
.tag {
    font-size: 12px;
    padding: 4px 8px;
  }
}

@media (max-width : 767px) {
  .tags {
    margin: 0;
  }
  .tag {
    border-radius: 5px;
    font-size: 10px;
  }
}